{% extends "layout.html" %}

{% block content %}
<br>
<div class="container is-fluid">
    <img src="{{ url_for('static', filename='img/' + post.image_file) }}" width="200" height="200">
<h1 class="title is-4">"{{ post.title }}" &nbsp By: {{ post.user.first_name }}</h1>
<p>
    {{post.content}}</p>

<br>
<div class="container is-fluid">
    <h1 class="subtitle">Comments:</h1>

{% for comment in comments_post %}
<div class="box">

<p> By: {{ comment.user.first_name }}, At: {{ comment.date}} </p>
    <p>{{ comment.body }}</p>
    
</div>

{% endfor %}
</div>


{% if current_user.is_authenticated %}
<br>
<div class id=commentbutton>
    <a href="{{ url_for('addcomment', post_id=post.id) }}", class = "button is-link is-primary is-light is-outlined">Add a Comment!</a>&nbsp
    </button>
</div>

{% endif %}
</div>
<br>
{% endblock content %}
